---
layout: base
title: "Blog"
---

<div class="blog-section" style="display: block;">
  {% assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}
  <p class="inbox-title">📥 My Blog Posts</p>
  {% for y in years %}
    
    <p class="inbox-title">{{ y.name }}</p>
    <div class="inbox-list">
      {% for post in y.items %}
        <div class="inbox-item">
          <span class="inbox-date">{{ post.date | date: "%-d %b %Y" }}</span>
          <a href="{{ post.url | relative_url }}" class="inbox-subject">
            {{ post.title }}
          </a>
          {% if post.excerpt %}
            <p class="inbox-snippet">{{ post.excerpt | strip_html | truncate: 200, "..." }}</p>
          {% endif %}
        </div>
      {% endfor %}
      <p class="inbox-title"></p>
    </div>
  {% endfor %}
</div>