/* Mobile Stylesheet for Personal website
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */

/* Contents
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------
1. Reset default margins, padding, and borders
2. Styling for the overall body of the website
3. Styling for the header portion of the homepage
4. Styling for icons for the top of the website page
5. Styling for the navigation bar
6. Styling for main content of the website
7. Download CV Button
8. Styling for the experience portion of the website
9. Projects button/images
10. Styling for the footer of the website
*/


/* 1. Reset default margins, padding, and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* 2. Styling for the overall body of the website */
body {
    background-color: #0F1020;
    font-family: "Consolas", monospace, Arial, sans-serif;
    padding-bottom: 1%; /* Ensure footer doesn't cut off content */
}

/* 3. Styling for the header portion of the homepage */
.home {
    padding-left: 5%;
    padding-right: 5%;
    color: #D3CDD7;
    text-align: center;
    margin-top: 10vh;
}
.home h1 { 
    font-size: 12vw;
}
.home p {
    font-size: 6vw;
    padding: 1%;
    padding-bottom: 2%;
}

/* 4. Styling for icons for the top of the website page */
.icons {
    color: #C1E0F7;
    list-style-type: none;
    border: none;
    padding-left: 0;
    padding-top: 0.5vh;
    display: block;
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.5vh;
}
.icons p {
    padding: 2%;
    font-size: 3vw;
}
.icons img {
    width: 10vw;
    height: 10vw;
    border-radius: 5%;
}

/* 5. Styling for the navigation bar */
.nav { 
    font-size: 4vw;
    text-align: right;
    position: fixed;
    top: 4vh;
    right: 4vw;
    background-color: #0F1020;
}
.nav ul { 
    color: #C1E0F7;
    list-style-type: none;
    padding: 0.5%;
}
.nav ul li { 
    margin-right: 2%;
}
.nav a {
    color: #C1E0F7;
    transition: all 0.3s ease 0.2s;
}
.nav a:hover {
    color: #D3CDD7;
}

/* 6. Styling for main content of the website */
.main { 
    color: #D3CDD7;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 4vw;
    vertical-align: middle;
}
.main a { 
    color: #C1E0F7;
}
.main a:hover { 
    color: #208AAE;
}
.main ul {
    list-style-position: outside;
    margin-left: 1%;
    list-style-type: none;
    text-align: center;
}
.main li {
    padding: 0.5%;
    margin-left: 1%;
    text-align: center;
}
.main h1 {
    font-size: 8vw;
    color: #C1E0F7;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
.main h2 { 
    font-size: 6vw;
    padding-top: 2%;
    padding-bottom: 0.5%;
    color: #C1E0F7;
}
.main p {
    color: #D3CDD7;
    overflow: visible;
}
.main img {
    width: 50vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: 1vh;
    border-radius: 5%;
}

/* 7. Download CV Button */
.home .button {
    background-color: #EFBCD5; 
    border: none;
    color: #0F1020;
    padding: 1.5vh 3vw;
    display: inline-block;
    font-size: 5vw;
    border-radius: 5%;
    font-family: "Consolas", Arial, sans-serif;
    align-items: center;
}
.home .button:hover {
    background-color: #C1E0F7;
}

/* 8. Styling for the experience portion of the website */
.main .experience {
    display: flex;
    overflow: hidden;
}
.main .experience-list {
    flex: 1;
    padding: 1.5vh;
    text-align: left;
}
.main .experience-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main .experience-list li {
    cursor: pointer;
    padding: 1.5vh;
    margin-bottom: 1.5vh;
    border-radius: 3px;
    background-color: #0F1020
}
.main .experience-list li:hover {
    background-color: #C1E0F7;
    color: #0F1020;
}
.main .experience-list li.active {
    background-color: #EFBCD5;
    color: #0F1020;
}
.main .experience-body {
    flex: 3;
    padding-left: 2vw;
}

/* 9. Projects button/images */
.projects { 
    color: #D3CDD7;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects .container {
    position: relative;
    height: 30%;
    margin: 1vh;
}
.projects .image {
    display: block;
    width: 80%;
    height: auto;
    border-radius: 5%;
}
.projects .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    transition: .5s ease;
    background-color: #0F1020;
    border-radius: 5%;
    width: 80%;
    height: auto;
}
.projects .container:hover .overlay {
    background-color: #D3CDD7;
}

.projects .text {
    color: #D3CDD7;
    font-size: 4vw;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.projects .container:hover .text {
    color: #0F1020
}

/* 10. Styling for the footer of the website */
.footer {
    width: 100%;
    text-align: right;
    background-color: #EFBCD5;
    font-family: "Consolas";
    position: fixed;
    bottom: 0;
}
.footer p {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1vw;
    color: #0F1020;
    font-size: 2.5vw;
}
.footer a {
    color: #0F1020;
}
.footer a:hover {
    color: #AB4E68;
}