/* Stylesheet for Personal website
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */

/* Contents
––––––––––––––––––––––––––––––––––––––––––––––––––--------------------*/


/* Reset default margins, padding and borders
––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling for the overall body of website
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  body {
    background-color: #0F1020;
    font-family: "Consolas", Arial, sans-serif;  /* Set standard font for entire website */
    padding-bottom: 2%; /* Ensure footer doesn't cut off content*/
  }
  
  /* Styling for the header portion of the homepage of the website
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .header {
    padding: 1%;
    color: #D3CDD7;
    text-align: center;
    margin-top: 12%;
  }
  .header h1 { 
    font-size: 120px;
    font-weight: 500;
  }
  .header p {
    font-size: 30px;
    padding: 2%;
  }
  
  /* Styling for the Navigation Bar of website
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .nav { 
    padding: 10px;
    font-size: 24px;
    text-align: right;
    position: fixed;
    bottom: 100px;
    right: 20px;
  }
  .nav ul { /* Positions and sets the text colour for the navigation links */
    color: #C1E0F7;
    list-style-type: none; /* Removes bullet point symbol */
    padding: 1%;
  }
  .nav ul li { 
    margin-right: 3%; /* Spaces out the list items */
  }
  .nav a { /* Changes the text colour when the link hovers over */
    color: #C1E0F7;
  }
  .nav a:hover { /* Changes the text colour when the link hovers over */
    color: #D3CDD7;
  }
  
  
  /* Styling for main content of the website
  ––––––––––––––––––––––––––––––––––––––––––––––––––-------------------- */
  .main { 
    color: #D3CDD7;
    text-align: left;
    padding: 10%;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
  }
  .main a { 
    color: #C1E0F7;
  }
  .main a:hover { 
    color: #208AAE;
  }
  .main ul {
    list-style-position: outside; /* Stops text wrapping under symbol */
    margin-left: 2%; /* Lines up the list with other text */
    list-style-type: square;
  }
  .main li {
    padding: 0.5%;
    margin-left: 2%;
  }
  .main h1 {
    font-size: 50px;
    color: #C1E0F7;
  }

  .main h2 { 
    font-size: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #C1E0F7
  }
  
  .main p {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 10%;
    color: #D3CDD7
  }

  .main p:first-of-type {
    padding-top:0;
  }

  .main .image {
    float:left;
    width:300px;
    margin:5px;
    margin-right:20px;
  }

  .main img {
    width:300px;
    height:300px;
  }
  
  /* Styling for icons on index page
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .icons {
    color: #C1E0F7;
    font-size: 20px;
  }

  .icons p {
    padding: 2%;
    text-align: center;
    width: 200px;
  }

  .icons.row {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 150px;
  }

  .icons img {
    width: 150px;
    height: 150px;
    margin: 0 25px;
  }

  /* Styling for the footer of website
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .footer {
    width: 100%; /* Allows footer to appear across entire screen */
    text-align: right;
    background-color: #EFBCD5;
    font-family: "Consolas";
    position: fixed;
    bottom: 0;
  }
  .footer p {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 15%;
    color: #0F1020;
    font-size: 16px;
  
  }
  .footer a {
    color: #0F1020;
  }
  .footer a:hover {
    color: #AB4E68;
  }