{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="main">
        <h1>About</h1>

        <div>
            <div class="image"><img src="../static/images/profilepicture.jpg" alt="Profile picture of Cheylea Hopkinson"></div>
            <p>I am a Principal Data Analyst currently working for Southampton City Council within the Adult Social Care domain.</p>
            <p>My specialty is shaping and growing company-wide reporting to promote driving business decision using an evidence based approach.</p>
            <p>I am a voracious learner, from self teaching many of my technical skills to now currently studying a Masters degree in Computer Science at the University of Liverpool to learn about software development from within as well as delve deeper into the world of Artificial Intelligence.</p>
        </div>

        <h2>Technologies</h2>
        <ul>
            <li>Excel and Power Query</li>
            <li>Microsoft Power BI</li>
            <li>SQL and MS SQL Server</li>
        </ul>
        <ul>
            <li>Python and R</li>
            <li>Extract, Load and Transform</li>
            <li>Modelling Data</li>
        </ul>
    </div>
</div>
{% endblock %}