<!DOCTYPE html>
<html lang="en">
<head>

 <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Cheylea Hopkinson</title>
  <meta name="description" content="Home page for personal website of Cheylea Hopkinson">
  <meta name="author" content="Cheylea Hopkinson">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
  
</head>
<body>
  <!-- img src="{{ url_for('static', filename='images/background.png') }}" alt="network style background">-->
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block content %}
    <div class="header">
      <h1>Cheylea Hopkinson</h1>
      <p>Principal Data Analyst based in Southampton, England.</p> 
    </div>

    <div class="icons">
      <img src="../static/images/icon1.png" alt="Icon for Data and Business Analyst">
      <p>Data and Business Analyst</p> 
      <img src="../static/images/icon2.png" alt="Icon for Power BI Specialist">
      <p>Power BI Specialist</p> 
      <img src="../static/images/icon3.png" alt="Icon for MSci Computer Science Student">
      <p>MSci Computer Science Student</p>
    </div>
  {% endblock content %}

  <div class="nav">
    <ul>
      <li><a href="http://127.0.0.1:8000/">Home</a></li>
      <li><a href="http://127.0.0.1:8000/about">About</a></li>
      <li>Experience</li>
      <li>Projects</li>
      <li>Blog</li>
    </ul>
  </div>
<!-- Page Footer -->
  <div class="footer">
  <!-- Add footer text with link -->
    <p>All rights reserved © Cheylea Hopkinson 2022. Contact on <a href="https://www.linkedin.com/in/cheyleahopkinson/">LinkedIn</a>.</p>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
