<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Basic Page Needs
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Cheylea Hopkinson</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Blog page for personal website of Cheylea Hopkinson">
      <meta name="author" content="Cheylea Hopkinson">
      <!-- CSS
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="../static/css/stylesheet.css">
      <link rel="stylesheet" href="../static/css/mobile.css" media="screen and (max-width: 768px)">
      <!-- Favicon
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="icon" type="image/png" href="../static/images/cheylea_favicon.png"> <!-- Favicon by IllusiveBIair https://github.com/IllusiveBIair -->
   </head>
   <body>
      
      {{ content }}

      <h2>Leave a comment</h2>

      <section id="utterances-comments"></section>
   </div>

      <!-- Footer
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="footer">
         <!-- Add footer text with link -->
         <p>All rights reserved © Cheylea Hopkinson 2024. Contact on <a href="https://www.linkedin.com/in/cheyleahopkinson/" target="_blank">LinkedIn</a>.</p>
      </div>
      <!-- End Document
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <!-- Comments
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
         <script>
            'use strict';
          
            (function() {
              var commentContainer = document.querySelector('#utterances-comments');
          
              if (!commentContainer) {
                return;
              }
          
              var script = document.createElement('script');
              script.setAttribute('src', 'https://utteranc.es/client.js');
              script.setAttribute('repo', 'cheylea/cheylea.github.io');
              script.setAttribute('issue-term', 'url');
              script.setAttribute('label', 'blog-comment');
              script.setAttribute('theme', 'dark-blue');
              script.setAttribute('crossorigin', 'anonymous');
          
              commentContainer.appendChild(script);
            })();
         </script>
   </body>
</html>