<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Basic Page Needs
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title>Cheylea Hopkinson</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Blog page for personal website of Cheylea Hopkinson">
      <meta name="author" content="Cheylea Hopkinson">
      <!-- CSS
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="../static/css/stylesheet.css">

      <!-- Favicon
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="icon" type="image/png" href="../static/images/cheylea_favicon.png"> <!-- Favicon by IllusiveBIair https://github.com/IllusiveBIair -->

      <!-- Social Icons
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
   </head>
   <body>
    <!-- Top Title
    ––––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <h1 class="title">
        <div class="aurora">
            <div class="aurora__item"></div>
            <div class="aurora__item"></div>
            <div class="aurora__item"></div>
            <div class="aurora__item"></div>
        </div>
        CHEYLEA HOPKINSON
    </h1>
    <div class="background">
        <div class="viewer">
            <div class="sidebar">
               <button class="menu-toggle">☰</button>
               <nav>
                <h2>✿Welcome!❀</h2>
                <ul>
                  <li><a href="/aboutme">About Me</a></li>
                  <li><a href="/experience">Experience</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/blog">Blog</a></li>
                </ul>
               </nav>
               <div class="blog-section">
                 <p class="inbox-title">📥 Latest from the blog...</p>
                 <div class="inbox-list">
                   {% for post in site.posts limit:3 %}
                   <div class="inbox-item">
                     <span class="inbox-date">{{ post.date | date: "%-d %b %Y" }}</span>
                     <a href="{{ post.url | relative_url }}" class="inbox-subject">
                       {{ post.title }}
                     </a>
                     {% if post.excerpt %}
                     <p class="inbox-snippet">{{ post.excerpt | strip_html | truncate: 35, "..." }}</p>
                     {% endif %}
                   </div>
                   {% endfor %}
                 </div>
               </div>
               <div class="socials">
                   <a title="LinkedIn" href="https://www.linkedin.com/in/cheyleahopkinson/" target="_blank" class="social-buttons">
                     <i class="fab fa-linkedin"></i>
                   </a>
                   <a title="GitHub" href="https://github.com/cheylea" target="_blank" class="social-buttons">
                     <i class="fab fa-github"></i>
                   </a>
                   <a title="Download CV" href="files/YourCV.pdf" download class="social-buttons">
                     <i class="fas fa-file-download"></i>
                   </a>
                   <a title="Ultimate Flaggle" href="https://www.ultimateflaggle.co.uk" target="_blank" class="social-buttons">
                     <i class="fas fa-flag"></i>
                   </a>
                 </div>

            </div>
            <div class="content">
            <div class="window">
                <div class="title-bar">
                  <img src="../static/images/cheylea_favicon.png" alt="Favicon" width="24" height="24">
                  <p>{{ page.title }}</p>
                  <div class="title-bar-buttons">
                    <button class="title-bar-button" title="Back to home" onclick="document.location='../index.html'">–</button>
                    <button class="title-bar-button" title="Back to home" onclick="document.location='../index.html'" style="font-size: 16px;">☐</button>
                    <button class="title-bar-button" title="Back to home" onclick="document.location='../index.html'">×</button>
                    </div>
                </div>
                <div class="window-content">
                  {{ content }}
                </div>
              </div>
            </div>
        </div>
    </div>

      <!-- Footer
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="footer">
        <div class="start-button"></div>
         <!-- Add footer text with link -->
         <p>All rights reserved © Cheylea Hopkinson 2025.</p>
      </div>
      <!-- End Document
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->

   </body>
   <script>
    const title = document.querySelector('.title');
    const titleHeight = title.offsetHeight;
    document.documentElement.style.setProperty('--title-height', `${titleHeight}px`);

    const footer = document.querySelector('.footer');
    const footerHeight = footer.offsetHeight;
    document.documentElement.style.setProperty('--footer-height', `${footerHeight}px`);

    const sidebar = document.querySelector('.sidebar');
    const sidebarWidth = sidebar.offsetWidth;
    document.documentElement.style.setProperty('--sidebar-width', `${sidebarWidth}px`);

    const titleBar = document.querySelector('.title-bar');
    const titleBarHeight = Math.round(titleBar.offsetHeight); // round to whole px
    document.documentElement.style.setProperty('--title-bar-height', `${titleBarHeight}px`);

    const toggleButton = document.querySelector('.menu-toggle');

    toggleButton.addEventListener('click', () => {
    sidebar.classList.toggle('nav-open');
    });

    const companyListItems = document.querySelectorAll('.experience-list li');
            const experienceDivs = document.querySelectorAll('.experience-body > div');
        
            companyListItems.forEach(item => {
                item.addEventListener('click', function() {
                    const target = this.dataset.target;
                    experienceDivs.forEach(div => {
                        if (div.id === target) {
                            div.style.display = 'block';
                        } else {
                            div.style.display = 'none';
                        }
                    });
                    companyListItems.forEach(li => li.classList.remove('active'));
                    this.classList.add('active');
                });
            });
    
   </script>
</html>