---
layout: base
---

<main class="content">
  <article class="blog">
    <h1 style="padding-top: 10%;">{{ page.title }}</h1>
    <br>
    <p class="post-date">
      {% assign d = post.date | date: "%-d" | plus: 0 %}
      {% capture suffix %}{% if d == 11 or d == 12 or d == 13 %}th{% else %}{% assign m = d | modulo:10 %}{% case m %}{% when 1 %}st{% when 2 %}nd{% when 3 %}rd{% else %}th{% endcase %}{% endif %}{% endcapture %}

      {{ page.date | date: "%-d" }}{{ suffix }} {{ page.date | date: "%B %Y" }}
      
    </p>
    <br>
    <div class="blog">
      {{ content }}
    </div>
    <br>
    <br>
    <p>
      <a href="/">Back to home</a></p>

    <p>Leave a comment</p>
  </article>
</main>
